.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================Images============ */
.carroussel img {
  height: 470px!important ;
}


/* ================================ */

/* ==============Cart Style================== */

.add-product-form .form-group{
  margin-left: auto;
  margin-right: auto;
}
.card-group {
  width: fit-content !important;
  margin-left: auto;
  margin-right: auto;
  .card {
    margin-right: 1rem;
  }
}
.cartItem {
  width: fit-content;
}
.quantity-group {
  align-items: center !important;
  justify-content: center !important;
}
.quantity-group div {
  width: 60px;
}
.alert {
  opacity: 1 !important;
}